.header{
    background-color: $bg3;
    color: $color2;
    padding: 20px;
    border-radius: 2%;
   h1{
    color:$color1;
    text-align: center;
   }
   ul{
      text-align: right;
   }
   li{
    display: inline-block;
    color: $color1;
   }
   a{
    color: $color1;
   } 
}