
$bg1: #5858f8;
$color1: #0a0909;
$bg2: #a6f5a6;
$color2: #0a0404;
$bg3: #fc79e6;
$color3: #070838;
$ff_letra: 'Yellowtail', cursive;

@import "body";
@import "header";
@import "section";
@import "disco";
@import "footer"


